* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  flex: 1;
  background: #0059ff;
  display: flex; }
  .header span {
    flex: 1;
    margin: 10px;
    color: #fff;
    text-align: center;
    line-height: 40px; }
    .header span:nth-of-type(2) {
      flex: 6;
      text-align: left;
      text-indent: 1em;
      background: rebeccapurple; }
    .header span:nth-of-type(3) {
      line-height: 20px; }

.main {
  width: 100%;
  flex: 9;
  background: #00ff6a; }

.footer {
  width: 100%;
  flex: 1;
  background: #e5ff00; }
